@import 'styles/vars';

.covid {
    text-align: center;
    color: lighten($primary-light, 20);
    p {
        color: $primary-white;
    }
}

.container--covid {
    text-align: center;
    background: $primary-dark;
    color: $primary-white;
    padding: 1rem 0;
    font-size: 1.4rem;

    a {
        display: inline-block;
        text-decoration: underline;
        color: lighten($primary-light, 30);
        margin-top: 1rem;
    }

    a:hover {
        color: $primary-white;
    }

}