@import 'styles/vars';

.button {
    outline: none;
    appearance: none;
    border: none;
    background: $primary-light;
    padding: 1.2rem 2rem;
    border-radius: $border-radius;
    color: $primary-white;
    letter-spacing: 0.02em;
    margin: 1rem 0;
    display: inline-block;
}

.button:hover {
    background: darken($primary-light, 10);
    color: $primary-white;
}
