@import 'styles/vars';

* {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $font-secondary, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  // font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
//   color: $text-color-dark;
//   background: $primary-blue;
}

a {
  text-decoration: none;
  color: $primary-light;
//   color: $secondary-blue;
}

a:hover {
  color: darken($primary-light, 20);
}

#root, .router {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container--body a:not(.button) {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

// .container {

// }

.constrain {
  padding: 0 2rem;
  max-width: 140rem;
  margin: 0 auto;
}

.staffTable table {
  width: 100%;
  border-collapse: collapse;
  td {
    border: 1px solid #eee;
  }
  th, td {
    padding: 1rem;
    text-align: left;
  }

  tr th:first-of-type {
    padding: 1rem 0;
  }
  th {
    color: $primary-dark;
  }
}

.container--body {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (max-width:63.999em) {
  .staffTable {
    width: 100%;
    overflow-x: auto;
  }
}

.covid {
  text-align: center;
  color: lighten($primary-light, 20);
  p {
      color: $primary-white;
  }
}

.mel {
  margin: 0 auto;
  color: lighten($primary-light, 20);
  text-align: center;
  p {
      color: $primary-white;
  }
  .image {
    width: 180px; 
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media screen and (min-width: 64em) {
  .mel {
    text-align: left;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    h4 {
      margin-bottom: -1rem;
      font-size: 1.2rem;
      color: lighten($primary-light, 30);
      font-weight: normal;
    }
    .image {
      margin-right: 4rem;
    }
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}