// @import url('https://fonts.googleapis.com/css2?family=Radley&family=Raleway&display=swap');

$primary-light: #0074F7;
$primary-dark: #002146;
$primary-white: rgba(255,255,255,0.95);
$primary-black: rgba(0,0,0,0.75);

$border-radius: 4px;

// $font-primary: 'Radley', serif;
// $font-secondary: 'Raleway', sans-serif;

$font-primary: serif;
$font-secondary: sans-serif;