// @import url('https://fonts.googleapis.com/css2?family=Radley&family=Raleway&display=swap');

$primary-light: #0074F7;
$primary-dark: #002146;
$primary-white: rgba(255,255,255,0.95);
$primary-black: rgba(0,0,0,0.75);
$primary-red: #FF0000;

$border-radius: 4px;

// $font-primary: 'Radley', serif;
// $font-secondary: 'Raleway', sans-serif;

$font-primary: serif;
$font-secondary: sans-serif;

// Media queries
// sm: 'screen and (min-width: 35.5em)', // 568px
// md: 'screen and (min-width: 48em)',   // 768px
// lg: 'screen and (min-width: 64em)',   // 1024px
// xl: 'screen and (min-width: 80em)'    // 1280p