@import 'styles/vars';

.donationOptionsContainer {
    
    margin-top: 4rem;

    .donationOption {
        border-radius: 4px;
        box-shadow: 
            0 12px 24px rgba(0,0,0,0.05),
            0 0 6px rgba(0,0,0,0.15)
        ;
        padding: 2rem;
        margin: 2rem 0;
    }

    h2, h3, h4 { text-align: center; }
    
    h3 {
        color: $primary-dark;
        margin: 0;
    }
    h2 {
        color: $primary-light;
    }
    h4 {
        color: $primary-red;
    }

    li {
        padding: .3rem 0;
    }

}

@media screen and (min-width:64em) {
    .donationOptionsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}